html( lang="en" class="dark" )
  head
    meta( charset="UTF-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    
    base( href="/" )

    link( rel="preload" href=require('@/assets/fonts/Manrope-Regular.ttf') as="font" type="font/truetype" crossorigin )
    
    //- Uncomment and point to icon
    //- link( rel="icon" href=require('!!file-loader!@/assets/icons/logo_symbol.ico').default )

    meta( name="theme-color" content=require('config').meta.themeColor )

    meta( property="og:url" content=require('config').meta.url )

    meta( name="twitter:image:src" content=require('config').meta.thumbnail )        
    meta( property="og:image" content=require('config').meta.thumbnail )
    meta( name="twitter:card" content="summary_large_image" )

    meta( property="og:type" content="object" )

    meta( property="og:description" name="description" content=require('config').meta.description )
    meta( name="twitter:description" content=require('config').meta.description )

    meta( name="twitter:site" content=require('config').meta.title )
    meta( property="og:title" content=require('config').meta.title )
    meta( name="twitter:title" content=require('config').meta.title )
    meta( property="og:site_name" content=require('config').meta.title )

    title #{ require('config').meta.title }
    
  body
    #app